.login-container {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;
  padding: 40px 25px;
  background: white;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #878787;
  line-height: 1.6;
  margin: 0 0 20px 0;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 13px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  background: white;
  height: 40px;
  padding-left: 15px;
}

.input-group label {
  position: absolute;
  left: 12px;
  top: -8px;
  background: white;
  padding: 0 4px;
  color: #878787;
  font-size: 13px;
  font-weight: 500;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-group input:focus {
  border-color: #7b2fff;
}

.btn-login {
  background: #7b2fff;
  color: white;
  padding: 14px;
  border: none;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  transition: 0.3s;
}

.btn-login:hover {
  background: #5e23cc;
}
